@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #FAF8F6;
  color: #3D3D3D;
  font-family: "Montserrat", sans-serif;
}

.title {
  font-family: "Cormorant Garamond", serif;
}

.calendar-container {
  background: white;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.react-calendar {
  border: none !important;
  width: 100% !important;
  max-width: 500px;
  background: transparent;
  font-family: "Poppins", sans-serif;
}

.react-calendar__navigation button {
  color: #3D3D3D;
  font-size: 18px;
  font-weight: 600;
  background: none;
}

.react-calendar__navigation button:hover {
  background: #F5F0EA !important;
  border-radius: 12px;
}

.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}

.react-calendar__tile {
  border-radius: 14px;
  height: 55px;
  transition: .2s;
}

.react-calendar__tile:hover {
  background: #F3E6CF !important;
}

.react-calendar__tile--active {
  background: #C8A96A !important;
  color: white !important;
}

.react-calendar__tile--now {
  background: #F7EBD7 !important;
  color: #3D3D3D;
}

.react-calendar__month-view__days__day--weekend {
  color: #3D3D3D;
}
